/* FONT GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dancing+Script:wght@400;500;700&family=Forum&family=Lato:wght@100;300;400;700;900&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;400;500;700&family=Raleway:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');


/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: var(--link);
}

ol,ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}


/* ROOT */

:root{
    /* HUE */
    --hue: 248;

    /* BASE COLOR */
    --bg-header: hsl(var(--hue), 39%, 39%);
    --link: hsl(var(--hue), 100% , 100%)
}


/* TIPOGRAFIA */

h1{
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: .1em;
    margin-bottom: 1.5rem;
}


/* CONTAINER */
.container{
    max-width: 85rem;
    margin: 0 auto;
}

/* CONTAINER FLEX */
.container--Flex{
    display: flex;
}

.flex--Align--Center{
    align-items: center;
}

.flex--Wrap{
    flex-wrap: wrap;
}

.flex--Column{
    flex-direction: column;
}

/* HEADER */

header{
    background: var(--bg-header);
    padding: 1rem;
}

nav ul li{
    padding: 0 .5rem;
}

.section__Cadastro{
    margin: 5rem 1rem; 
}

/* INPUT STYLE */

select, input[type="number"], input[type="text"]{
        width: 100%;
        margin: .5rem 0;
        padding: .5rem;
}

/* BUTTON STYLE */
button{
    background: var(--bg-header);
    border-radius: .25rem;
    color: var(--link);
    cursor: pointer;
    padding: .5rem 1rem;
    width: 100%;
    margin-top: .5rem;
}
/* MAIN */
.container--Tabela{
    margin: 1rem;
    max-width: 85%;
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: .5rem;
}

tr:nth-child(even){
    background: var(--bg-header);
    color: aliceblue;
}

@media (20rem <= width <= 47.99rem){
    h1{
        font-size: 1.5em;
        text-align: center;
    }

    /* Formulário */
    .box--Formulario{
        flex-direction: column;
    }

}

@media (48rem <= width <= 160rem){
    h1{
        font-size: 1.5em;
        text-align: center;
    }

    /* Formulário */
    .box--Formulario{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box--Formulario div{
        margin: 0 .5rem;
    }

    .inputTipo{
        width: 50vw;
    }

    .inputDescricao{
        width: 53vw !important;
    }
}