/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */

body{
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* CLASSE MOSQUITO */

.mosquito--1{
    width: 50px;
    height: 50px;
}

.mosquito--2{
    width: 70px;
    height: 70px;
}

.mosquito--3{
    width: 90px;
    height: 90px;
}

/* Lado Aleatorio */

.lado--Left{
    transform: scaleX(1);
}
.lado--Right{
    transform: scaleX(-1);
}

/* Painel  */

.painel{
    position: absolute;
    width: 200px;
    padding: 10px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #fff;
    background: #fff;
    opacity: .7;
}
.painel--Vidas{
    display: flex;
}
.painel--Cronometro{
    font-size: 1.2em;
}


/* container--Flex */

.container--Flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 650px;
}

/* btn--Reiniciar */

.btn--Reiniciar button{
    background: rgba(0,0,0, .7);
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.2em;
    border-radius: .25rem;
}

.btn--Reiniciar button:hover{
    background: #111;
    transition: all .3s linear;
    cursor: pointer;
}

/* btn--Selecionar */

.btn--Selecionar{
    margin-bottom: 1rem;
}

.btn--Selecionar select{
    background: rgba(0,0,0, .7);
    padding: .95rem 2rem;
    color: #fff;
    font-size: 1.2em;
    border-radius: .25rem;
    
}