/* BODY */

body{
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
}


/* RESIZER IMAGE */

.resizeImg{
    width: 50px;
    height: 50px;
}
.resizeImg--1{
    width: 70px;
    height: 70px;
}
.resizeImg--2{
    width: 90px;
    height: 90px;
}

/* LADOS ALEATORIOS */

.ladoA{
    transform: scaleX(1);
}
.ladoB{
    transform: scaleX(-1);
}


/* CONTAINER PAINEL */

.container__Painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #fff;
    background: #fff;
    opacity: .7;
}
.painel--Vidas{
    display: flex;
}
.painel--Cronometro{
    display: flex;
    font-size: 1.2em;

}


/* CONTAINER FLEX */
.container--Flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn--Reinicar{
    background: rgba(17, 17, 17, .5);
    color: #fff;
    font-size: 1.2em;
    border-radius: .25rem;
    padding: .75rem 2rem;
}

.btn--Reinicar:hover{
    transition: .4s all;
    background: #111;
    cursor: pointer;
}


/* box--Select */
.box--Select{
    margin: 1rem 0;
}

.box--Select--In{
    padding: .55rem;
    border-radius: .25rem;
    background: rgba(17, 17, 17, .5);
    color: #fff;
    font-size: .81em;
}