/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}


:root{
    /* base color */
    --bg--color:#f4f4f4;
    --texto: #000;
    --titulo--h1:#4e4e4e;
    --titulo--h2: #f7b600;
    --titulo--h2: #565656;;
}


/* HEADER */
/* MAIN */
/* FOOTER */