/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* Seletores de titulos */

#body{
    margin: 0 auto;
    max-width: 980px;
    width: 980px;
}
 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*
ul li{
    padding: .5rem 0;
    
} */

/* SELETOR TITULO */

/* h1{
    color: darkblue;
}
h2{
    color: darkgoldenrod;
}
h3{
    color: darkcyan;
}

.cor--verde{
    color: darkgreen;
}

p.verde{
    color: darkgreen;
} */

/* SELETOR ID */

/* #seletor--id{
    width: 150px;
    height: 150px;
    border: 1px solid darkblue;
} */
/* SELETOR FILHO */

/* ol{
    margin: 0 1rem;
}

ol>li>a{
    color: darkgoldenrod;
} */

/*  SELETOR descendente*/

/* p a{
    color: darkgreen;
}

h2+p{
    color: darkmagenta;
}
h2~span{
    color: darkorange;
} */

/* HERENÇA E ESPECIFICIDADE */

/* h2 {
    color: blue;
}

h2.verde {
    color: green;
}

h2#amarelo {
    color: yellow;
} */


/* BARRA DE NAVEGAÇÃO VERTICAL */

/* nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    border: 1px solid #fff;
} */

/* nav a{
    width: 200px;
    height: 40px;
    display: block;
    background: url(../image/menu.png) no-repeat #f7b600;
    text-indent: 40px;
    line-height: 40px;
    color: #fff;
}

nav a:hover{
    background-position: right bottom;
    background: #f99200;
    
} */

/* ACTIVE / SELECIONADO */
/* nav a, .selecionado a{
    background-position: right bottom;
    background: #f99200;
    color: #fff;
} */

/* #home .home a{
    background-position: right bottom;
    background: #f99200;
    color: black;
} */


/* BARRA DE NAVEGAÇÃO HORIZONTAL */

/* nav ul{
    margin: 1rem 0;
    background-color: darkgrey;
    width: 600px;
}
nav ul li{
    display: inline-block;
    padding: .5rem;
}

nav ul li a{
    color: #000;
    font-size: 1.2em;
}

nav ul li a:hover, nav ul li:hover{
    color: #fff;
    background-color: darkgreen;
}

nav li.active, .active a{
    color: #fff;
    background-color: darkgreen;

} */


/* BARRA DE NAVEGAÇÃO COM ABAS */

/* nav ul{
    width: 720px;
}

nav ul li{
    float: left;
    background: url(../image/aba-direita.png) no-repeat top right;
}

nav ul li a{
    display: block;
    padding: 0 2rem;
    line-height: 3em;
    background: url(../image/aba-esquerda.png) no-repeat top left;
    color: #fff;
}

nav ul a:hover{
    color: #894a1f;
}

nav ul .active{
    background: url(../image/aba-direita-atual.png) no-repeat top right;
}

nav ul .active a{
    background: url(../image/aba-esquerda-atual.png) no-repeat top left;
} */

/* AULA DE Layout Fixo */
.container{
    float: left;
}


#header--fixo{
    background: darkblue;
    height: 100px;
}

#header--fixo h1{
    color: #fff;
    text-align: center;
    padding: .95rem 0;
}

#header--fixo h3{
    color: #fff;
    text-align: center;
}
#main--fixo{
    /* border: 1px solid red; */
}
.nav--fixo{
    background-color: darkgray;
    width: 250px;
    height: auto;
}

.nav--fixo ul li{
    padding: .6rem;
}
.nav--fixo ul li a{
    font-size: 18px;
}
.section--fixo{
    width: 466px;
    padding: 1rem;
}
.article--fixo{
    padding: .5rem 0;
}
.article--fixo h2{
    padding: .5rem 0;
}
.article--fixo p{
    line-height: 1.5em;
}

.aside--fixo{
    width: 200px;
    background-color: darkgray;
    height: auto;
    padding: 1rem;
}

.limpar--float{
    clear: both;
}
#footer--fixo{
    background-color: darkblue;
    height: 80px;
}

#footer--fixo p{
    text-align: center;
    color: #fff;
    padding: 2rem 0;
    font-size: 18px;
}

/* AULA DE Layout FLUIDO */

.container--fluido{
    /* float: left; */
}

#body--fluido{
    max-width: 100%;
    /* width: 95%; */
    margin: 0 auto;
    border: 1px solid red;
}

#header--fluido{
    background-color: darkblue;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
}

#main--fluido{}

.nav--fluido{
    background-color: darkgray;
    width: 15%;
    float: left;
    padding: 1rem;
}

.nav--fluido ul li{
    padding: .5rem;
}

.nav--fluido ul li a{
    font-size: 1.1em;
    color: #fff;
}

.section--fluido{
    width: 60%;
    float: left;
    margin: 0 auto;
}

.article--fluido{
    margin: 1rem;
}

.aside--fluido{
    background-color: darkgray;
    width: 20%;
    float: right;
    padding: 1rem;
}

.aside--fluido h3{
    padding: .5rem 0;
}

.aside--fluido p{
    line-height: 1.4em;
}

#footer--fluido{
    background-color: darkblue;
    text-align: center;
    padding: 2rem 0;
}

#footer--fluido p{
    color: #fff;
    font-size: 1.2em;

}

/* AULA IMAGEM FLUIDA */

.bg--fluida{
    background: url(../image/natureza.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    /* padding: 16rem 0; */
}


/* AULA TABELA ESTILIZADA */
.container--tabela{
    margin: 1rem;
}

.tabela--estilizada{
    width: 500px;
    text-align: left;
}

.tabela--estilizada th{
    text-transform: uppercase;
    padding: .2rem 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.tabela--estilizada td{
    padding: .3rem;
    border-bottom: 1px solid #000;
    color: #fff;
}

.tabela--estilizada tr:hover{
    background-color: darkgoldenrod;
}

.bg--tabela--01{
    background-color: darkseagreen;
}
.bg--tabela--02{
    background-color: darkolivegreen;
}

/* AULA ESTILIZANDO FORMULARIO */

.container--formulario fieldset{
    margin: 1rem 0  ;
    padding: 1rem;
    border: 1px solid #ccc;
    background: #f8f8f8;
}
.container--formulario legend{
    font-weight: 600;
}
.container--formulario label{
    display: block;
    cursor: pointer;
}
.container--formulario input[type="text"]{
    width: 20em;
}
.container--formulario input[type="radio"]{
    margin-right: .4rem;
}
.container--formulario textarea{
    width: 20em;
    height: 10em;
}


/* AULA ESTILIZANDO FORMULARIO PARTE 2 */
.container--formulario--centralizado{
    width: 400px;
    height: 300px;
    background: rgba(111,111,222,.5);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    
}

.box--formulario--image{
    text-align: center;
}
.box--formulario--image img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

.container--formulario--Login{
    text-align: center;
}

.container--formulario--Login input{
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 40px;
    border: none;
}

.container--formulario--Login input.email{
    background: url(../image/icone-usuario.png) no-repeat;
    background-position: 10px;
    background-color: #fff;
}
.container--formulario--Login input.senha{
    background: url(../image/icone-cadeado.png) no-repeat;
    background-position: 10px;
    background-color: #fff;
}

.container--formulario--Login input.submit{
    color: #fff;
    background-color: #f79300;
    border: 2px solid #db7d00;
    padding: 0;
    width: 90%;
    height: 45px;
    cursor: pointer;
}