/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* Seletores de titulos */

body{
    margin: 1rem;
}
 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*
ul li{
    padding: .5rem 0;
    
} */

/* SELETOR TITULO */

/* h1{
    color: darkblue;
}
h2{
    color: darkgoldenrod;
}
h3{
    color: darkcyan;
}

.cor--verde{
    color: darkgreen;
}

p.verde{
    color: darkgreen;
} */

/* SELETOR ID */

/* #seletor--id{
    width: 150px;
    height: 150px;
    border: 1px solid darkblue;
} */
/* SELETOR FILHO */

/* ol{
    margin: 0 1rem;
}

ol>li>a{
    color: darkgoldenrod;
} */

/*  SELETOR descendente*/

/* p a{
    color: darkgreen;
}

h2+p{
    color: darkmagenta;
}
h2~span{
    color: darkorange;
} */

/* HERENÇA E ESPECIFICIDADE */

h2 {/*3*/
    color: blue;
}

h2.verde {/*2*/
    color: green;
}

h2#amarelo {/*1*/
    color: yellow;
}


/* BARRA DE NAVEGAÇÃO VERTICAL */

/* nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    border: 1px solid #fff;
} */

/* nav a{
    width: 200px;
    height: 40px;
    display: block;
    background: url(../image/menu.png) no-repeat #f7b600;
    text-indent: 40px;
    line-height: 40px;
    color: #fff;
}

nav a:hover{
    background-position: right bottom;
    background: #f99200;
    
} */

/* ACTIVE / SELECIONADO */
/* nav a, .selecionado a{
    background-position: right bottom;
    background: #f99200;
    color: #fff;
} */

/* #home .home a{
    background-position: right bottom;
    background: #f99200;
    color: black;
} */


/* BARRA DE NAVEGAÇÃO HORIZONTAL */

/* nav ul{
    margin: 1rem 0;
    background-color: darkgrey;
    width: 600px;
}
nav ul li{
    display: inline-block;
    padding: .5rem;
}

nav ul li a{
    color: #000;
    font-size: 1.2em;
}

nav ul li a:hover, nav ul li:hover{
    color: #fff;
    background-color: darkgreen;
}

nav li.active, .active a{
    color: #fff;
    background-color: darkgreen;

} */


/* BARRA DE NAVEGAÇÃO COM ABAS */

nav ul{
    width: 720px;
}

nav ul li{
    float: left;
    background: url(../image/aba-direita.png) no-repeat top right;
}

nav ul li a{
    display: block;
    padding: 0 2rem;
    line-height: 3em;
    background: url(../image/aba-esquerda.png) no-repeat top left;
    color: #fff;
}

nav ul a:hover{
    color: #894a1f;
}

nav ul .active{
    background: url(../image/aba-direita-atual.png) no-repeat top right;
}

nav ul .active a{
    background: url(../image/aba-esquerda-atual.png) no-repeat top left;
}